<%= render "shared/header" %>

    <%= form_with(model: @language, local: true) do |f| %>
  <div class="mb-3">
  <p for="exampleFormControlInput1" class="form-label title_label">言語名</p>
  </div>
  <%= f.text_area :name,  class:"form-control", id:"post_title", placeholder:"" %>
<div class="d-grid gap-2 col-6 mx-auto">
<%= f.submit "編集",class:"btn btn-outline-info" %>
</div>
    <% end %> 

<%= link_to '戻る',language_posts_path(@language.id), class:"btn btn-outline-dark" %>
    <div class="pull-right">
<%= link_to '削除',language_path(@language.id), method: :delete,data: {confirm: "言語に投稿されているチートシートも削除されます、本当に言語を削除しますか？"}, class:"btn btn-outline-dark" %>
</div>

<%= render "shared/footer" %>