  <head>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>


<body>


<%= render "shared/header" %>

<main>

  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">全てのチートシート</h1>
        <p class="lead text-muted">全てのチートシートを閲覧できます。チートシート、コメントの投稿にはユーザー登録が必要です。</p><%# ログイン時は消す%>
        <p>
      <% if user_signed_in? %>
        <%= link_to 'マイページ',"/users/#{current_user.id}", class: "btn  btn-outline-primary my-2" %>
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "btn  btn-outline-primary " %>
      <% else %>
        <%= link_to 'ログイン',new_user_session_path, class: "btn  btn-outline-primary my-2" %>
        <%= link_to '新規登録',new_user_registration_path, class: "btn  btn-outline-primary my-2" %>
      <% end %>
        </p>
      </div>
        <%= link_to '言語の追加',new_language_path, class:"btn btn-outline-success btn-lg" %>
    </div>
  </section>


    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">



  <% @languages.each do |language| %>
    <div class="col">
      <%= link_to language_posts_path(language.id) do %>
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/><text class="ing_tex" x="50%" y="50%" fill="#eceeef" dy=".3em"><%= language.name %></text></svg>
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細',new_language_path, class:"btn btn-sm btn-outline-secondary", type:"button" %>
                  <%= link_to  '投稿者のマイページ',"/users/#{current_user.id}", class:"btn btn-sm btn-outline-secondary", type:"button" %>
                </div>
                <small class="text-muted"><%=  %></small>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>



        </div>
      </div>
    </div>


</main>

<%= render "shared/footer" %>


</body>
