  <head>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


  </head>
  <body>


<%= render "shared/header" %>
<main>

  <section class="py-5 container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= @language.name %></h1>
        </p>
      </div>
        <%= link_to 'チートシートの追加',new_language_post_path, class:"btn btn-outline-success btn-lg" %>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


<% @posts.each do |post| %>
  <% if @language.id == post.language_id %>
    <div class="col">
      <%= link_to language_post_path(@language.id, post.id) do %>
          <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
            <div class="card-body">
              <p class="card-text"><%= post.title %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to '詳細',new_language_path, class:"btn btn-sm btn-outline-secondary", type:"button" %>
                  <%= link_to  '投稿者のマイページ',"/users/#{current_user.id}", class:"btn btn-sm btn-outline-secondary", type:"button" %>
                </div>
                <small class="text-muted"><%=  %></small>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>
<% end %>

      </div>
    </div>
  </div>

</main>

<%= render "shared/footer" %>


  </body>
